button {
  cursor: pointer;
  width: 100%;
  height: fit-content;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--brand-base);
  color: var(--white);
  font-weight: 400;
  margin-top: 1rem;
}