@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

nav {
  display: flex;
  gap: 4rem;
  margin-left: 4rem;
}

nav > a{
  color: #1f1f1f;

}

.logo {
  vertical-align: middle;
  color: rgb(45, 130, 140);
}

.logo > a {
  font-family: 'Lilita One', cursive;
  font-size: 1.75rem;
  color: var(--brand-base);
  margin-left: 0.5rem;
}