.detail_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  height: 200%;;
}

.top_content {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  margin: 1.5rem 0 2rem 0;
}

.edit_del_btns {
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;
}

.edit_del_btns > *{
  display: flex;
  align-items: center;
  gap: 0.2rem;
  width: fit-content;
  font-size: 0.9rem;
  padding: 0.4rem 0.8rem;
}

.edit_btn {
  background-color: white;
  border: 1px solid var(--brand-base);
  color: var(--brand-base);
}

.edit_btn:hover{
  border: 1px solid #fefefe;
  background-color: #fefefe;
}

.del_btn {
  background-color: #df2b1e;
  color: white;
}

.left_side {
  width: 50%;
}

.title{
  font-weight: 600;
  font-size: 1.2rem;
}

.refLink a{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 1px 3px 0px;  
  padding: 1rem;
  margin: 1rem 0;
}

.refLink span{
  z-index: 999;
}

.main_text{
  line-height: 1.6;
  word-break:break-all;
}

.code_container {
  position: sticky;
  width: 50%;
  top: 3rem;
  right: 0;
  height: 100vh;
  left: 58%;
  overflow: auto;
}

.category_box {
  width: fit-content;
  background-color: rgba(235,239,253,255);
  color: var(--brand-base);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  
}

.detail_container h2{
  margin: 0.2rem 0 1.5rem 0;
}

.detail_container a {
  display: flex;
  align-items: center;
  color: var(--second-text);
}

.date_text{
  color: var(--second-text);
  font-size: 0.9rem;
}