.detail_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.top_content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 2rem;
}

.edit_del_btns {
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;
}

.edit_del_btns > *{
  display: flex;
  align-items: center;
  gap: 0.2rem;
  width: fit-content;
  font-size: 0.9rem;
  padding: 0.4rem 0.8rem;
}

.edit_btn {
  background-color: white;
  border: 1px solid var(--brand-base);
  color: var(--brand-base);
}

.del_btn {
  background-color: #df2b1e;
  color: white;
}

.left_side {
  width: 100%;
  padding-right: var(--code-container);
}

.main_text{
  line-height: 1.6;
  word-break:break-all;
}

.code_container {
  top: 6rem;
  right: 0;
  height: 100vh;
  left: 58%;
  position: fixed;
  overflow: auto;
}

.category_box {
  width: fit-content;
  background-color: rgba(235,239,253,255);
  color: var(--brand-base);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1.5rem;
}

.detail_container h2{
  margin: 0.2rem 0 1.5rem 0;
}

.detail_container a {
  display: flex;
  align-items: center;
  color: var(--second-text);
}

.date_text{
  color: var(--second-text);
  font-size: 0.9rem;
}