.memo_card{
  height: 80%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 1px 3px 0px;  
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;  
}

.memo_card:hover {
  transform: translateY(-0.5rem);
  transition:all ease-in 0.2s
}

.memo_card p {
  margin: 0;
}

.category_box {
  width: fit-content;
  background-color: rgba(235,239,253,255);
  color: var(--brand-base);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.title {
  font-weight: 600;
}

.main_text {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 0.9rem;
  color: #625F68;
  line-height: 1.6;
}

.time_ago {
  color:#625F68;
  margin: 0;
  font-size: 0.9rem;
}

