.sidebar {
  position: relative;
  height: fit-content;
  width: 12rem;
  background-color: #fff;
  padding: 1rem 2rem;
  border-right: 1.5px solid rgba(219, 219, 219, 0.269);
}

.sidebar>p{
  color: rgb(168, 168, 168);
  font-weight: 300;
  margin: 0;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.logo_content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  color: var(--brand-base);
  display: flex;
  align-items: center;
  width: 100%;
}

.logo p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

.menu {
  font-size: 1.5rem;
  color:rgb(121, 128, 164);
  margin-top: 0.5rem;
  cursor: pointer;
}

ul {
  margin: 1rem 0 0 0;
  padding: 0;
  margin-bottom: 2rem;
}

ul > a > p{
  padding: 0 1rem;
  margin: 0.8rem 0;
}

ul > *{
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
  color:rgb(121, 128, 164);

}

ul > *:hover {
  background-color: rgba(235,239,253,255);
}

ul > *:hover > *{
  color: var(--brand-base);
  font-weight: 600;
}


.icon {
  margin: 0 0.5rem;
  font-size: 1.2rem;
  color:rgb(121, 128, 164);
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.profileImg{
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100%;
  margin-right: 0.8rem;
}

.logout {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
  color:rgb(121, 128, 164);
}

.logout > *:first-child {
  margin-right: 0.5rem;
}