.task_item {
  display: flex;
  padding: 1.5rem 1rem 1.5rem 0;
  border-bottom: 1.5px solid rgba(219, 219, 219, 0.269);
  align-items: flex-start;
  gap: 0.3rem;
}

.task_item input{
  flex: 1;
  outline: none;
  scale: 1.2;
}

.icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--third-text);
  padding: 0.3rem;
  border-radius: 100%;
}

.icon:hover{
  background-color:rgba(219, 219, 219, 0.269);
  transform: rotate(15deg);
  transition: 0.2s;
  scale: 1.1;
  color: var(--second-text);
}


.task_content{
  display: flex;
  flex-direction: column;
  flex: 15;
  gap: 1rem;
}

.task_name{
  font-weight: 600;
}

.task_info{
  font-size: 0.9rem;
  color: var(--second-text);
}

.created_at {
  font-size: 0.8rem;
  color: var(--third-text);
  font-weight: 300;
}